 
 /*header menu bar */
  .content__header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background: $color-background-header;
    padding: 1px 0 0 0;
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /*header menu*/
  .content__header-menu {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 30px 0 0 11%;
    width: 80%;
    list-style: none;
    @media (max-width: 1550px) {
      width: 70%;
    }
    @media (max-width: 1430px) {
      width: 100%;
      margin: 0;
    }      
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
  // .content__header-menu:nth-child(1) .content__header-menu--active {
    


  .content__header-menu-toggle {
    position: relative;
    flex-basis: 0;
    flex-grow: 0.15;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: $color-primary;
    margin: 0;
    transition: .5s;
    cursor: pointer;
    padding: 5px 2%;
    white-space: nowrap;
    @media (max-width: 1650px) {
      font-size: 40px;
    }
    @media (max-width: 1150px) {
      padding: 5px 1%;
    }
    @media (max-width: 1000px) {
      padding: 5px 2%;
    }
  }

  /*header menu active*/
  .content__header-menu--active {
    background: $color-background-header-active; /*background-color: #666 ;*/
    color: $color-secondary; 
  }
  
  /*header subMenu*/
  .content__header-sub-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: -2px 0 0;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  
  .content__header-sub-menu-toggle {
    font-size: 16px;
    border-color: $color-background-header;
    display: block;
    padding: 0 15px;
    font-weight: 500;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    white-space: nowrap;
    letter-spacing: 1px;
    @media (max-width: 1780px) {
      letter-spacing: 2px;
      padding: 0 30px;
    }
    @media (max-width: 1270px) {
      letter-spacing: 1px;
      padding: 0 15px;
    }
  }

  /*header menu border*/
  .content__header-menu-toggle .content__header-menu-border {
    position: absolute;
    transition: transform .5s;
    @media (max-width: 1000px) {
      display: none;
    }
  }

  /* TOP (1) AND BOTTOM (3) */
  .content__header-menu-toggle .content__header-menu-border:nth-child(1),
  .content__header-menu-toggle .content__header-menu-border:nth-child(3) {
    width: 100%;
    height: 2px;
    background: $color-background-header-active;
  }

  .content__header-menu-toggle .content__header-menu-border:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }

  .content__header-menu-toggle:hover .content__header-menu-border:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }

  .content__header-menu-toggle .content__header-menu-border:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }

  .content__header-menu-toggle:hover .content__header-menu-border:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }

  /* LEFT (2) AND RIGHT (4) */
  .content__header-menu-toggle .content__header-menu-border:nth-child(2),
  .content__header-menu-toggle .content__header-menu-border:nth-child(4) {
    width: 2px;
    height: 100%;
    background: $color-background-header-active;
  }

  .content__header-menu-toggle .content__header-menu-border:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .content__header-menu-toggle:hover .content__header-menu-border:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
  }

  .content__header-menu-toggle .content__header-menu-border:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .content__header-menu-toggle:hover .content__header-menu-border:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
  }