<meta charset="utf-8"/> <!--damit Sonderzeichen angezeigt werden-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--so wirds am Smartphone angezeigt, findet man auch in den Dokumenten oder Google -->

<style>
  button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid orangeRed;
    background: linear-gradient(45deg,#fff 50%, orangeRed 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  }
  button:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
    z-index:-1;
  }
  button,button:after {
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size .2s;
  }
  button:hover, button:hover:after {
    background-position: 0;
    font-size: 1.1em;
  }

</style>
</head>
<body>
  <button>I understand</button>
  <button>Submit</button>


<script>




</script>

</body>
</html>
