<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/imgSliderCss.css">
<style>
</style>
</head>
<body>
<div class="slideshow__container">

<div class="my__slides fade">
  <img src="..\assets\Slider\spinBox.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\skullDestroyer.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\hexWave.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\lookMeInTheEye.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\skullError.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\skyPushMeInTheAir.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\movingWire.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\tripMoonStars.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\love.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\unicorn.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\vrCat.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\unicornParadise.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\bossAnimation.gif" style="width:100%">
</div>
<div class="my__slides fade">
  <img src="..\assets\Slider\tenor.gif" style="width:100%">
</div>
<script src="..\Javascript\imgSlider.js"></script>

</body>
</html>
