<!Doctype html>
<html lang="de-DE">
<head>
    <meta charset="utf-8"/> <!--damit Sonderzeichen angezeigt werden-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--so wirds am Smartphone angezeigt, findet man auch in den Dokumenten oder Google -->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>HTML Structure</title>
</head>
<style>
  .container {
    width: 100%;
    height: 1000px;
  }
  .container__text {
    color: purple;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .container__link {
    text-decoration: none;
    background-color: lightgreen;
    border: 3px solid black;
    text-align: center;
    padding:10px 20px 10px 20px;
    font-size: 30px;

  }
</style>
<div clas="container">
    <p class="container__text">
      Medieninhaber<br>
      Festo Gesellschaft m.b.H.<br>
      Linzer Straße 227<br>
      1140 Wien<br>
      <br>
      +43 1 910 75 - 0<br>
      +43 1 910 75 - 250<br>
      automation.at@festo.com<br>
      <br>
      DVR: 0000868 FESTO<br>
      Firmenbuch Wien<br>
      FN 38435 y<br>
      UID: ATU14650108<br>
      <br>
      Die Festo Ges.m.b.H. ist Mitglied der Wirtschaftskammer Wien und der Fachverbände Maschinen & Metallwaren, Elektro- und Elektronikindustrie, der Fachgruppe Medienwirtschaft, sowie des Landesgremiums für Handel mit Maschinen.<br>
      <br>
      Unternehmensgegenstand<br>
      Vertrieb von pneumatischen Komponenten und Systemen, sowie Lern- und Lehrhardware und technischen Aus- und Weiterbildungsseminaren.<br>
      <br>
      Für WebsitebesucherInnen
      Aus Gründen der Praktikabilität und zu Gunsten des Leseflusses erlauben wir uns auf zeitgemäße, geschlechterspezifische Bezeichnungen zu verzichten.<br>
      Dies soll jedoch nicht als Diskriminierung zu verstehen sein; Festo setzt sich für die Frau in der Technik ein.<br>
      Das Unternehmen Festo bekennt sich zur proaktiven Gleichstellung von Frau und Mann.<br>
      <br><br>
      Geschäftsführer<br>
      Ing. Herbert Pfeiffer<br>
      <br>
      <br>
      <br>
      für den Inhalt verantwortlich<br>
      Katharina Sigl, MBA<br>
      <br>
      Webproduktion<br>
      <br>
      Hannes Wusem, Bakk.phil.<br>
      <br>
      <br>
      Für NewsletterabonnentInnen<br>
      <br>
      <br>
      Der Newsletter der Festo Ges.m.b.H. bietet regelmäßige Informationen über innovative Automationslösungen in Österreich.<br>
      <br>
      <br>
      <br>
      Newsletterproduktion<br>
      <br>
      Hannes Wusem, Bakk.phil.<br><br><br>
      <a class="container__link" href="index.html">Home</a> <!--links back to the homepage-->
    </p>



</div>
</html>
