<meta charset="utf-8"/> <!--damit Sonderzeichen angezeigt werden-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--so wirds am Smartphone angezeigt, findet man auch in den Dokumenten oder Google -->

<style>
  html, body{
    margin: 0;
    padding: 0;
  }
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid red;
}
.one {
  position: relative;
  top: 0;
  left: 0;
  animation: animateCircle1 5s linear infinite;
}
.two {
  position: absolute;
  top: 0;
  left: 24px;
  animation: animateCircle2 5s linear infinite;
}
.three {
  position: absolute;
  top: 0;
  left: 48px;
  animation: animateCircle3 5s linear infinite;
}
@keyframes animateCircle1 {
  0% {
    background-image: linear-gradient(white 100%, red 0%);
    transform: translate(0%);
  }
  20% {
    background-image: linear-gradient(white 100%, red 0%);
    transform: translate(20%);
  }
  40% {
    background-image: linear-gradient(white 75%, red 25%);
    transform: translate(40%);
  }
  60% {
    background-image: linear-gradient(white 50%, red 50%);
    transform: translate(60%);
  }
  80% {
    background-image: linear-gradient(white 25%, red 75%);
    transform: translate(80%);
  }
  100% {
    background-image: linear-gradient(red, red, red);
    transform: translate(100%);
  }
  }
@keyframes animateCircle2 {
  0% {
    background-image: linear-gradient(white 100%, red 0%);
    transform: translate(0%);
  }
  20% {
    background-image: linear-gradient(white 75%, red 25%);
    transform: translate(20%);
  }
  40% {
    background-image: linear-gradient(white 50%, red 50%);
    transform: translate(40%);
  }
  60% {
    background-image: linear-gradient(white 25%, red 75%);
    transform: translate(60%);
  }
  80% {
    background-image: linear-gradient(red, red, red);
    transform: translate(80%);
  }
  100% {
    background-image: linear-gradient(red, red, red);
    transform: translate(100%);
  }
  }
@keyframes animateCircle3 {
  0% {
    background-image: linear-gradient(white 75%, red 25%);
    transform: translate(0%);
  }
  20% {
    background-image: linear-gradient(white 50%, red 50%);
    transform: translate(20%);
  }
  40% {
    background-image: linear-gradient(white 25%, red 75%);
    transform: translate(40%);
  }
  60% {
    background-image: linear-gradient(red, red, red);
    transform: translate(60%);
  }
  80% {
    background-image: linear-gradient(red, red, red);
    transform: translate(80%);
  }
  100% {
    background-image: linear-gradient(red, red, red);
    transform: translate(100%);
  }
}
</style>
</head>
<body>
  <div class="circle one"></div>
  <div class="circle two"></div>
  <div class="circle three"></div>


</body>
</html>
