<meta charset="utf-8"/> <!--damit Sonderzeichen angezeigt werden-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--so wirds am Smartphone angezeigt, findet man auch in den Dokumenten oder Google -->

<style>
  body {
    background-color: black;
    margin: 0;
    padding: 0;
  }
  .text {
    font-family: arial;
    font-size: 100px;
    margin-top: 15%;
    text-align: center;
  }
.text h1 {
  color: rgb(255, 255, 255, .1);
  background-image: url(../assets/rainbowFarbschema.jpg);
  -webkit-background-clip: text;
  animation: junni 10s linear infinite;
}
@keyframes junni {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }

}
</style>
</head>
<body>
  <div class="text">
    <h1>JUNNI FOR YOU</h1>
  </div>



<script>




</script>

</body>
</html>
