
  #content__container-games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /*Card Hover/active effects*/
  /*////////////////////*/
  .content__container-games-card {
    width: 300px;
    height: 260px;
    margin: 10px 0;
    display: none;
  }
  
  .content__container-games-card-front,.content__container-games-card-back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
    border-radius: 15px;
  }

  .content__container-games-card-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content__container-games-card-images:hover {
    cursor: pointer;
  }

  .content__container-games-card-front .content__container-games-card-images {
    transform: perspective(600px) rotateY(0deg);
  }

  .content__container-games-card-back {
    transform: perspective(600px) rotateY(180deg);
    background-image: url("https://media.istockphoto.com/photos/texture-dark-concrete-floor-picture-id621925576?k=6&m=621925576&s=612x612&w=0&h=H4rph08J2vSJz_crupTLvHf5OKW0olvoRJzaAK37Yhg=");
  }

  .content__container-games-card-back-content{
    color: #e84118;
    text-align: center;
  } 

  .content__container-games-card-back-headline {
    width: 95%;
    margin: 8px 0;
  }

  .content__container-games-card-back-content .content__container-games-card-back-headline ~ .content__container-games-card-back-text{
    width: 45%;
    margin: 0 auto;
  } 
  
  .content__container-games-card-back-links {
    display: inline-flex;
    width: 50px; 
    height: 50px;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
    font-size: 25px;
    transition: 0.4s;
    border-radius: 50%;
    text-decoration: none;
  }

  .content__container-games-card-back-links:active {
    background: #2c3350;
    color: #fff;
  }

  .content__container-games-card:active > .content__container-games-card-front {
    transform: perspective(600px) rotateY(-180deg);
    animation: moveBigger 2s;
    animation-fill-mode: forwards;
    pointer-events: unset;
  }
  @keyframes moveBigger {
    from {
      height: 100%;
    }
  
    to {
      height: 107.5%;
    }
  }

  .content__container-games-card:active > .content__container-games-card-back {
    transform: perspective(600px) rotateY(0deg);
    animation: slideDown 2s;
    animation-fill-mode: forwards;
  }
  @keyframes slideDown {
    from {
      margin-top: -270px;
    }
  
    to {
      margin-top: 0px;
    }
  }

  .content__container-games-card:active {
    z-index: 1000;
  }

  /*filter Games
///* //////////////////////////////**/

.show {
    display: block;
  }
  