
  /*header menu bar */
  /*/////////////////////////////////*/
  .content__header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 15%;
    background: #040404;
    padding: 0;
    margin: 0;
  }
  .content__header-menu {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 30px 60px 5px 0;
  }

  .content__header-menu--active .content__header-menu-btn {
    background: #262626;
    color: #FFF;
  }

  .content__header-sub-menu--active .content__header-sub-menu-btn {
    color: #FFF;
  }

  .content__header-menu--active {
    background-color: #666 ;
    color: white;
  }

  .content__header-menu-btn, .content__header-sub-menu-btn {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #e84118;
    margin: 0 30px;
    transition: .5s;
  }

  .content__header-menu-btn .content__header-menu-border {
    position: absolute;
    transition: transform .5s;
  }

  /* TOP (1) AND BOTTOM (3) */
  .content__header-menu-btn .content__header-menu-border:nth-child(1),
  .content__header-menu-btn .content__header-menu-border:nth-child(3) {
    width: 100%;
    height: 2px;
    background: #262626;
  }

  .content__header-menu-btn .content__header-menu-border:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }

  .content__header-menu-btn:hover .content__header-menu-border:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }

  .content__header-menu-btn .content__header-menu-border:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }

  .content__header-menu-btn:hover .content__header-menu-border:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }

  /* LEFT (2) AND RIGHT (4) */
  .content__header-menu-btn .content__header-menu-border:nth-child(2),
  .content__header-menu-btn .content__header-menu-border:nth-child(4) {
    width: 2px;
    height: 100%;
    background: #262626;
  }

  .content__header-menu-btn .content__header-menu-border:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .content__header-menu-btn:hover .content__header-menu-border:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
  }

  .content__header-menu-btn .content__header-menu-border:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .content__header-menu-btn:hover .content__header-menu-border:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
  }

  /* Filter menuBar*/
  .content__header-sub-menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .content__header-sub-menu-btn {
    border: 1px solid #ddd;
    font-size: 16px;
    border-color: black;
    color: #e84118;
    display: block;
    margin: 0;
  
    padding: 0 10px;
  }

  .content__header-sub-menu-btn, .content__header-menu-btn {
    border: none;
    outline: none;
    background-color: black;
    cursor: pointer;
  }
  

  