<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>


</head>

<body>

<h1>Text Verschlüsselungs Generator</h1>


<span id="yourPassword">Login: </span><input id="login" type="password" /><br /><br />

<input id="input" type="text" />
<button id="btnHide">click to hide your text</button>
<p id="yourKey"></p>

<input id="inputResult" type="text" />
<button id="btnShow">click to show your text</button>
<p id="yourText"></p>

<!--abhängig davon machen welches Passwort bennutzt wird ändere die Zeichen Abfolge auf + 3 oder +6 zb-->



<script type="text/javascript">


var newTxt = "";
var newTxt2 = "";
var oldText = "";
var oldText2 = "";

var uppercaseKeyArray = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
var lowercaseKeyArray = ['a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z'];
var numbersKeyArray = ['0','1','2','3','4','5','6','7','8','9'];
var specialCharacterArray = ['!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-'];




  var password = "";
  var input = "";
  var output = "";



document.getElementById('btnHide').onclick = function(){
  password = document.getElementById('login').value;
  input = document.getElementById('input').value;
  if (password == 'brfjx') {
    nextLetter();
    uppercaseLetter();
    document.getElementById('yourKey').innerHTML = newTxt;
    newTxt = "";
  }else{
    randomArrayIndex = uppercaseKeyArray.concat(lowercaseKeyArray, numbersKeyArray, specialCharacterArray);
    var randomInput = "";
    for (var i = 0; i<input.length; i++){
      randomInput += randomArrayIndex[Math.floor(Math.random() * randomArrayIndex.length)];
    }
    document.getElementById('yourKey').innerHTML = randomInput;
  }
}

function nextLetter(){
  input = document.getElementById('input').value;
  for (var i = 0; i<input.length; i++){
    if (input.charAt(i) === " "){
      newTxt = newTxt.concat("ß");//checks for spaces
    }else if (input.charAt(i) === "y"){   //The charAt() method returns the character at the specified index in a string.
      newTxt = newTxt.concat("a");//checks for "y" and sets to "a"
    }else if (input.charAt(i) === "z"){
      newTxt = newTxt.concat("b");//checks for "z" and sets to "b"
    }else{
      newTxt = newTxt.concat(String.fromCharCode(input.charAt(i).charCodeAt(0)+2));
    }//converts letter to the next-second letter in the alphabet
  }
}
// checks for a,e,i,o,u and sets to upper case
function uppercaseLetter(){
  for (var i=0; i < newTxt.length; i++){
    switch(newTxt.charAt(i)){
      case "a":
      case "e":
      case "i":
      case "o":
      case "u":
      newTxt2 = newTxt2 + (newTxt.charAt(i).toUpperCase());
      break;
      default: //will be coming to use if nothing in case will be printed
      newTxt2 = newTxt2 + newTxt.charAt(i);
      break;
   }
  }
}
////////////////////////////////////////////////////////////

document.getElementById('btnShow').onclick = function(){
  password = document.getElementById('login').value;
  output = document.getElementById('inputResult').value;
  if (password == "brfjx") {
    lasttLetter();
    lowerCaseLetter();
    document.getElementById('yourText').innerHTML = oldText;
    oldText = "";
  }else{
    randomArrayIndex = uppercaseKeyArray.concat(lowercaseKeyArray, numbersKeyArray, specialCharacterArray);
    var randomOutput = "";
    for (var i = 0; i<output.length; i++){
      randomOutput += randomArrayIndex[Math.floor(Math.random() * randomArrayIndex.length)];
    }
  document.getElementById('yourText').innerHTML = randomOutput;
  }
}
function lasttLetter(){
  output = document.getElementById('inputResult').value;
  for (var i = 0; i<output.length; i++){
    if (output.charAt(i) === "ß"){
      oldText = oldText.concat(" ");//checks for spaces
    }else if(output.charAt(i) === "b"){
      oldText = oldText.concat("z");//checks for "b" and sets to "z"
    }else if (output.charAt(i) === "a"){
      oldText = oldText.concat("y");//checks for "a" and sets to "y"
    }else{
      oldText = oldText.concat(String.fromCharCode(output.charAt(i).charCodeAt(0)-2));
    }//converts letter to the last-second letter in the alphabet
  }
}

// checks for a,e,i,o,u and sets to lowercase
function lowerCaseLetter(){
  for (var i=0; i < oldText.length; i++){
    switch(oldText.charAt(i)){
      case "A":
      case "E":
      case "I":
      case "O":
      case "U":
      oldText2 = oldText2 + (oldText.charAt(i).toLowerCase());
      break;
      default: //will be coming to use if nothing in case will be printed
      oldText2 = oldText2 + oldText.charAt(i);
      break;
   }
  }
}
/////////////////////////////////////////////////////////////////////////


// if (input.charAt(i).contains("")){
//   newTxt = newTxt.concat("");//checks for spaces


// document.getElementById("btn").onclick = function(){

//   var letters = '1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
//   var entities = '#!?&%$§'.split('');
//   for (var i = 0; i < 8; i++ ) {
//     keyCommon += letters[Math.floor(Math.random() * 62)];
//   }
//   for (var i = 0; i < 8; i++ ) {
//     keySpecial += entities[Math.floor(Math.random() * 7)];
//   }
//     secretKey = keyCommon + keySpecial;
//
//   document.getElementById("yourKey").innerHTML = secretKey;
//   console.log(secretKey);
//   keyCommon = '';
//   keySpecial = '';
// }

//   var key = '';
//
//   var letters = '1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
//   for (var i = 0; i < 8; i++ ) {
//     key += letters[Math.floor(Math.random() * 62)];
//   }
//   document.getElementById("yourKey").innerHTML = key;
//   console.log(key);
//   key = '';
// }

// function strReplace(){
//     var input = document.getElementById('input').value;
//     var newKey = input.replace(/A/g,'1').replace(/B/g,'2').replace(/C/g,'3').replace(/D/g,'4').replace(/E/g,'5').replace(/F/g,'6').replace(/G/g,'7').replace(/H/g,'8')
//                       .replace(/I/g,'a').replace(/J/g,'b').replace(/K/g,'c').replace(/L/g,'d').replace(/M/g,'e').replace(/N/g,'f')/*.replace(/a/g,'9').replace(/b/g,'0')*/
//                       /*.replace(/O/g,'g').replace(/P/g,'h').replace(/Q/g,'i').replace(/R/g,'j').replace(/S/g,'k').replace(/T/g,'l').replace(/U/g,'m').replace(/V/g,'n');
//                       .replace(/W/g,'o').replace(/X/g,'p').replace(/Y/g,'q').replace(/Z/g,'r')/*.replace(/c/g,'s').replace(/d/g,'t').replace(/e/g,'u').replace(/f/g,'v')
//                       .replace(/g/g,'w').replace(/h/g,'x').replace(/i/g,'y').replace(/j/g,'z')*/
// //replace(/#|_|!|§|&|%|ß/g,'?')
//     document.getElementById("myText").innerHTML = newKey;
// }

//should replace multiple strings
  // String.prototype.allReplace = function(obj) {
  //   var str = this;
  //   for (var x in obj) {
  //       str = str.replace(new RegExp(x, 'g'), obj[x]);
  //   }
  //   return retStr;
  // }
  // console.log('aabbaabbcc'.allReplace({'a': 'h', 'b': 'o'}));


// function entitieKey() {
//   var key2 = '';
//
//   var entities = '#!?&%$§'.split('');
//   for (var i = 0; i < 1; i++ ) {
//     key2 += entities[Math.floor(Math.random() * 7)];
//   }
//   document.getElementById("yourKey").innerHTML = key2;
//   key2 = '';
// }
//
// function letterKey() {
//   var key = '';
//
//   var letters = '1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');
//   for (var i = 0; i < 8; i++ ) {
//     key += letters[Math.floor(Math.random() * 62)];
//   }
//   document.getElementById("yourKey2").innerHTML = key;
//   key = '';
// }
//
//
// document.getElementById("btn").onclick = function(){
//   letterKey();
//   entitieKey();
// }




</script>
</body>
</html>
