<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>


</head>

<body>

<h1>Passwort Generator</h1>
<p>
  Nur ein sicheres Passwort ist ein gutes Passwort^^
</p>

<form>
  <label for="uppercase"><input id="uppercase" type="checkbox" name="checkbox" checked>Großbuchstaben (A-Z)<br /></label>
  <label for="lowercase"><input id="lowercase" type="checkbox" name="checkbox" checked>Kleinbuchstaben (a-z)<br /></label>
  <label for="numbers"><input id="numbers" type="checkbox" name="checkbox" checked>Zahlen (1-9)<br /></label>
  <label for="specialCharacter"><input id="specialCharacter" type="checkbox" name="checkbox">Sonderzeichen (@<({[/=...)<br /><br /></label>

  Länge (z.B. 8)
  <select id="length">
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected>8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
  <br /><br />
  <button type="button" id="btn">Generate</button>
</form>


<p class="bold">Your Keys: <span id="containerKey"></span></p>



<script type="text/javascript">

var uppercaseKeyArray1 = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
var lowercaseKeyArray1 = ['a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z'];
var numbersKeyArray1 = ['0','1','2','3','4','5','6','7','8','9'];
var specialCharacterArray1 = ['!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-'];
var uppercaseKeyStr1 = "";
var lowercaseKeyStr1 = "";
var numbersKeyStr1 = "";
var specialCharacterStr1 = "";
var key = "";
var keyArray = [];
var uppercaseKeyArray = [];
var lowercaseKeyArray = [];
var numbersKeyArray = [];
var specialCharacterArray = [];

var obj = {
  uppercase: [],
  lowercase: [],
  numbers: [],
  specialCharacter: []
};

var objArr = {
  uppercaseKeyArrayObj : ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'],
  lowercaseKeyArrayObj : ['a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z'],
  numbersKeyArrayObj : ['0','1','2','3','4','5','6','7','8','9'],
  specialCharacterArrayObj : ['!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-']
};

var objStr = {
  uppercaseKeyStr : "",
  lowercaseKeyStr : "",
  numbersKeyStr : "",
  specialCharacterStr : ""
};

function getCharacterFrom(objSet, objArray) {
  var checkbox = document.getElementById(objSet);
  if (this.checked) {
      obj[objSet] = objArr[objArray];
    }else {
      obj[objSet] = [];
  }
}

// when checked then push this entities in a array
function getFirstEntitieFrom(objSet, objArray, objString) {
  var checkbox = document.getElementById(objSet);
  if (this.checked) {
    objStr[objString] = "";
    for (var i = 0; i < 1; i++ ) {
    objStr[objString] += objArr[Math.floor(Math.random() * objArray.length)];
    }
  }
}

// gives the length of the password
function secretKey() {
  key = objStr['lowercaseKeyStr'] + objStr['uppercaseKeyStr'] + objStr['numbersKeyStr'] + objStr['specialCharacterStr'];
  var startLength = key.length;
  var lengthKey = document.getElementById('length').value;
  for (var i = 0; i < (lengthKey - startLength); i++ ) {
    key += keyArray[Math.floor(Math.random() * keyArray.length)];
  }
  key = key.shuffle();
  console.log(key);
}

String.prototype.shuffle = function () {
    var stringArray = this.split("");

    for(var arrayIndex = stringArray.length - 1; arrayIndex > 0; arrayIndex--) {
        var randomArrayIndex = Math.floor(Math.random() * (arrayIndex + 1));
        var tmp = stringArray[arrayIndex];
        stringArray[arrayIndex] = stringArray[randomArrayIndex];
        stringArray[randomArrayIndex] = tmp;
    }
    return stringArray.join("");
}

//combine all arrays in one array per on click
var endKey = document.getElementById('btn').onclick = function endKey(){
  getFirstEntitieFrom('uppercase', 'uppercaseKeyArrayObj', 'uppercaseKeyStr');
  getFirstEntitieFrom('lowercase', 'lowercaseKeyArrayObj', 'lowercaseKeyStr');
  getFirstEntitieFrom('numbers', 'numbersKeyArrayObj', 'numbersKeyStr');
  getFirstEntitieFrom('specialCharacter', 'specialCharacterArrayObj', 'specialCharacterStr');

  getCharacterFrom('uppercase', 'uppercaseKeyArrayObj');
  getCharacterFrom('lowercase', 'lowercaseKeyArrayObj');
  getCharacterFrom('numbers', 'numbersKeyArrayObj');
  getCharacterFrom('specialCharacter', 'specialCharacterArrayObj');

  keyArray = uppercaseKeyArray1.concat(lowercaseKeyArray1, numbersKeyArray1, specialCharacterArray1);
  console.log(keyArray);
  secretKey();
  document.getElementById('containerKey').innerHTML = key;
}

// opens a new small window who you can see your random generated password
// function newWindow() {
//   var myWindow = window.open("", "MsgWindow", "width=400,height=200,overflow-x=hidden");
//   myWindow.document.write("<p>" + key + "</p>");
// }
</script>
</body>
</html>
