<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>


</head>

<body>

<h1>Passwort Generator</h1>
<p>
  Nur ein sicheres Passwort ist ein gutes Passwort^^
</p>

<form>
  <label for="uppercase"><input id="uppercase" type="checkbox" name="checkbox" checked>Großbuchstaben (A-Z)<br /></label>
  <label for="lowercase"><input id="lowercase" type="checkbox" name="checkbox" checked>Kleinbuchstaben (a-z)<br /></label>
  <label for="numbers"><input id="numbers" type="checkbox" name="checkbox" checked>Zahlen (1-9)<br /></label>
  <label for="specialCharacter"><input id="specialCharacter" type="checkbox" name="checkbox">Sonderzeichen (@<({[/=...)<br /><br /></label>

  Länge (z.B. 8)
  <select id="length">
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected>8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
  <br /><br />
  <button type="button" id="btn">Generate</button>
</form>


<p class="bold">Your Key: <br /><span id="containerKey"></span></p>
<div id="containerKey" class="container"></div>


<script type="text/javascript">

var uppercaseKeyArray1 = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
var lowercaseKeyArray1 = ['a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z'];
var numbersKeyArray1 = ['0','1','2','3','4','5','6','7','8','9'];
var specialCharacterArray1 = ['!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-'];
var uppercaseKeyStr1 = "";
var lowercaseKeyStr1 = "";
var numbersKeyStr1 = "";
var specialCharacterStr1 = "";
var key = "";
var keyArray = [];
var uppercaseKeyArray = [];
var lowercaseKeyArray = [];
var numbersKeyArray = [];
var specialCharacterArray = [];

String.prototype.shuffle = function () {
    var stringArray = this.split("");

    for(var arrayIndex = stringArray.length - 1; arrayIndex > 0; arrayIndex--) {
        var randomArrayIndex = Math.floor(Math.random() * (arrayIndex + 1));
        var tmp = stringArray[arrayIndex];
        stringArray[arrayIndex] = stringArray[randomArrayIndex];
        stringArray[randomArrayIndex] = tmp;
    }
    return stringArray.join("");
}
// when checked then push this entities in a array
function uppercaseKey1() {
  var uppercase1 = document.getElementById('uppercase');
  if(uppercase1.checked == true){
    uppercaseKeyStr1 = "";
    for (var i = 0; i < 1; i++ ) {
    uppercaseKeyStr1 += uppercaseKeyArray1[Math.floor(Math.random() * uppercaseKeyArray1.length)];
    }
  } else {
    uppercaseKeyArray1 = [];
  }
}
function lowercaseKey1() {
  var lowercase1 = document.getElementById('lowercase');
  if(lowercase1.checked == true){
    lowercaseKeyStr1 = "";
    for (var i = 0; i < 1; i++ ) {
    lowercaseKeyStr1 += lowercaseKeyArray1[Math.floor(Math.random() * lowercaseKeyArray1.length)];
    }
  } else {
    lowercaseKeyArray1 = [];
  }
}
function numbersKey1() {
  var numbers1 = document.getElementById('numbers');
  if(numbers1.checked == true){
    numbersKeyStr1 = "";
    for (var i = 0; i < 1; i++ ) {
    numbersKeyStr1 += numbersKeyArray1[Math.floor(Math.random() * numbersKeyArray1.length)];
    }
  } else {
    numbersKeyArray1 = [];
  }
}
function specialCharacterKey1() {
  var specialCharacter1 = document.getElementById('specialCharacter');
  if(specialCharacter1.checked == true){
    specialCharacterStr1 = "";
    for (var i = 0; i < 1; i++ ) {
    specialCharacterStr1 += specialCharacterArray1[Math.floor(Math.random() * specialCharacterArray1.length)];
    }
  } else {
    specialCharacterArray1 = [];
  }
}
/////////////////////////////////////////////////////////////

// when checked then push this entities in a array
function uppercaseKey() {
  var uppercase = document.getElementById('uppercase');
  if(uppercase.checked == true){
    uppercaseKeyArray.push('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');
  } else {
    uppercaseKeyArray = [];
  }
}

// when checked then push this entities in a array
function lowercaseKey() {
  var lowercase = document.getElementById('lowercase');
  if(lowercase.checked == true){
    lowercaseKeyArray.push('a','b','c','d','e','f','g','h','i','j','k','l','k','n','o','p','q','r','s','t','u','v','w','x','y','z');
  } else {
    lowercaseKeyArray = [];
  }
}

// when checked then push this entities in a array
function numbersKey() {
  var numbers = document.getElementById('numbers');
  if(numbers.checked == true){
    numbersKeyArray.push('0','1','2','3','4','5','6','7','8','9');
  } else {
    numbersKeyArray = [];
  }
}

// when checked then push this entities in a array
function specialCharacterKey() {
  var specialCharacter = document.getElementById('specialCharacter');
  if(specialCharacter.checked == true){
    specialCharacterArray.push('!','§','$','%','&','/','(',')','=','?','*','#','+','~','{','}','ß','-');
  } else {
    specialCharacterArray = [];
  }
}

// gives the length of the password
function secretKey() {
  key = lowercaseKeyStr1 + uppercaseKeyStr1 + numbersKeyStr1 + specialCharacterStr1;
  var startLength = key.length;
  var lengthKey = document.getElementById('length').value;
  for (var i = 0; i < (lengthKey - startLength); i++ ) {
    key += keyArray[Math.floor(Math.random() * keyArray.length)];
  }
  key = key.shuffle();
}
// opens a new small window who you can see your random generated password
// function newWindow() {
//   var myWindow = window.open("", "MsgWindow", "width=400,height=200,overflow-x=hidden");
//   myWindow.document.write("<p>" + key + "</p>");
// }

//combine all arrays in one array per on click
var endKey = document.getElementById('btn').onclick = function endKey(){
  uppercaseKey1();
  lowercaseKey1();
  numbersKey1();
  specialCharacterKey1();

  uppercaseKey();
  lowercaseKey();
  numbersKey();
  specialCharacterKey();

  keyArray = uppercaseKeyArray.concat(lowercaseKeyArray, numbersKeyArray, specialCharacterArray);
  secretKey();
  document.write("<p>" + key + "</p>");
  //  document.getElementById('containerKey').innerHTML = key;  why does this not func???
}

</script>
</body>
</html>
